AggregatorService/.vs
AggregatorService/AggregatorService.ApiService/obj
AggregatorService/AggregatorService.ApiService/AggregatorService.ApiService.csproj.user
AggregatorService/AggregatorService.AppHost/obj
AggregatorService/AggregatorService.ServiceDefaults/obj
AggregatorService/AggregatorService.Tests/bin
AggregatorService/AggregatorService.Tests/obj
AggregatorService/LoadGenerator/obj
AggregatorService/AggregatorService.ApiService.Application/obj
AggregatorService/AggregatorService.ApiService.Domain/obj
AggregatorService/AggregatorService.ApiService.Infrastructure/obj
AggregatorService/AggregatorService.AppHost/bin
AggregatorService/AggregatorService.ServiceDefaults/bin
AggregatorService/LoadGenerator/bin
AggregatorService/AggregatorService.ApiService.Application/bin
AggregatorService/AggregatorService.ApiService.Domain/bin
AggregatorService/AggregatorService.ApiService.Infrastructure/bin
AggregatorService/AggregatorService.ApiService/bin
